## Question 1
The following table indicates the number of 6-point scores in an American rugby match in the 1979 season.

![](table1.png)

Based on these results, we create a Poisson distribution with the sample mean parameter  = 2.435. Is there any reason to believe that at a .05 level the number of scores is a Poisson variable?

In [1]:
# your answer here
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy
from scipy.stats import binom
from scipy.stats import poisson
from scipy.stats import ttest_ind
from scipy.stats import t
from scipy.stats import skew, kurtosis
from scipy.stats import shapiro
from scipy.stats import binom
from scipy.stats import chi2_contingency

df = pd.DataFrame({'Number_of_scores' : [0,1,2,3,4,5,6,7], 'Number_of_times': [35,99,104,110,62,25,10,3]})


mu=2.435
alpha=0.05
score = [0,1,2,3,4,5,6,7]
frequency= [35,99,104,110,62,25,10,3]

df

   Number_of_scores  Number_of_times
0                 0               35
1                 1               99
2                 2              104
3                 3              110
4                 4               62
5                 5               25
6                 6               10
7                 7                3

In [2]:
#Poissons distribution
poissons=[]
for i in df['Number_of_scores']:
    arr = poisson.pmf(i,  2.435)
    poissons.append(arr)
    
df['Poisson_probability']=poissons
df

   Number_of_scores  Number_of_times  Poisson_probability
0                 0               35             0.087598
1                 1               99             0.213301
2                 2              104             0.259693
3                 3              110             0.210784
4                 4               62             0.128315
5                 5               25             0.062489
6                 6               10             0.025360
7                 7                3             0.008822

In [3]:
# Real probability
df['Probability']=df['Number_of_times']/df['Number_of_times'].sum()
df

   Number_of_scores  Number_of_times  Poisson_probability  Probability
0                 0               35             0.087598     0.078125
1                 1               99             0.213301     0.220982
2                 2              104             0.259693     0.232143
3                 3              110             0.210784     0.245536
4                 4               62             0.128315     0.138393
5                 5               25             0.062489     0.055804
6                 6               10             0.025360     0.022321
7                 7                3             0.008822     0.006696

In [4]:
#Null hypothesis: There is no difference between the two independent variables

t, p=ttest_ind(df['Probability'], df['Poisson_probability'])

#The p is for two sides and we are only calculating one tail
r1 = p/2
r1

0.4962870874975923

In [5]:
def lazy2(i):
        if i < 0.05:
             print(':hypothesis is rejected: the difference is significant')
        elif i >= 0.05 and i<=0.1:
             print(':hypothesis rejected: but not highly confident')
        else:
             print(':hypothesis not rejected')
lazy2(r1)

:hypothesis not rejected

## Question 2
The following are the ordered values of a random sample of SAT scores (university entrance exam) for several students: 852, 875, 910, 933, 957, 963, 981, 998, 1010, 1015, 1018, 1023, 1035, 1048, 1063. In previous years, the scores were presented by N (985,50). Based on the sample, is there any reason to believe that there has been a change in the distribution of scores this year? Use the level alpha = 0.05.

In [6]:
#your answer here
df2 = pd.DataFrame({'SAT_scores' : [852, 875, 910, 933, 957, 963, 981, 998, 1010, 1015, 1018, 1023, 1035, 1048, 1063]})
df2

    SAT_scores
0          852
1          875
2          910
3          933
4          957
5          963
6          981
7          998
8         1010
9         1015
10        1018
11        1023
12        1035
13        1048
14        1063

In [7]:

b=len(df2)

#To compare, create one distributon N(985,50), with random sample, but with the Same N

s = np.random.normal(985, 50, b)

r2 = ttest_ind(df2, s).pvalue

r2

array([0.05352306])

In [8]:
lazy2(r2)

:hypothesis rejected: but not highly confident

## Question 3
Let's analyze a discrete distribution. To analyze the number of defective items in a factory in the city of Medellín, we took a random sample of n = 60 articles and observed the number of defectives in the following table:

![](table4.png)

A poissón distribution was proposed since it is defined for x = 0,1,2,3, .... using the following model:

![](image1.png)

Does the distribution of defective items follow this distribution?

In [9]:
# your code here
df3 = pd.DataFrame({'N_defective': [0,1,2,3,4], 'frequency' : [32,15,0,9,4]})

poissons2=[]
lambda_=sum(df3['N_defective']*df3['frequency'])/(df3['frequency'].sum())

for i in df3['N_defective']:
    arr2 = poisson.pmf(i,  lambda_)
    poissons2.append(arr2)
    
df3['Poisson_probability']=poissons2
df3['Probability']=df3['frequency']/df3['frequency'].sum()

df3

   N_defective  frequency  Poisson_probability  Probability
0            0         32             0.380349     0.533333
1            1         15             0.367670     0.250000
2            2          0             0.177707     0.000000
3            3          9             0.057261     0.150000
4            4          4             0.013838     0.066667

In [10]:
#This p is for two sides and we are only calculating one tail

s,pvalue=ttest_ind(df3['Probability'], df3['Poisson_probability'])

r3 = pvalue/2
print(r3)
lazy2(r3)

0.4979616419246966
:hypothesis not rejected

## Question 4
A quality control engineer takes a simple of 10 tires that come out of an assembly line, and would like to verify on the basis of the data that follows, if the number of tires with defects observed over 200 days, if it is true that 5% of all tires have defects (that is, if the sample comes from a binomial population with n = 10 and p = 0.05).

In [11]:
# your answer here
distribution_sample = np.random.binomial(n=10,p=0.05, size=200)
distribution_sample

array([1, 0, 2, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 2, 1, 1, 0, 1,
       0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 3, 2, 0, 0, 0, 0, 2, 0, 1,
       0, 1, 0, 1, 1, 2, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 2, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1,
       0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 2, 1, 1, 0, 0, 0, 1, 1, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 2, 0, 2, 2, 0, 1, 0, 0, 1, 1,
       0, 1])

In [12]:
#Consider 0 defect tires

print(1-sum(distribution_sample == 0)/200, 'Percentage of defects tires')

0.365 Percentage of defects tires

## Question 5
A researcher gathers information about the patterns of physical activity (AF) of children in the fifth grade of primary school of a public school. He defines three categories of physical activity (1 = Low, 2 = Medium, 3 = High). He also inquires about the regular consumption of sugary drinks at school, and defines two categories (1 = consumed, 0 = not consumed). We would like to evaluate if there is an association between patterns of physical activity and the consumption of sugary drinks for the children of this school, at a level of 5% significance. The results are in the following table: 

![](table5.png)

In [13]:
#your answer here
import scipy

acf = [1,2,3]
si = [32,14,6]
no = [12,22,9]

observed = np.array([si, no])

chi2, p, dof, expctd = scipy.stats.chi2_contingency(observed)

p

0.004719280137040844