# Challenge 1 - Tic Tac Toe

In this lab you will perform deep learning analysis on a dataset of playing [Tic Tac Toe](https://en.wikipedia.org/wiki/Tic-tac-toe).

There are 9 grids in Tic Tac Toe that are coded as the following picture shows:

![Tic Tac Toe Grids](tttboard.jpg)

In the first 9 columns of the dataset you can find which marks (`x` or `o`) exist in the grids. If there is no mark in a certain grid, it is labeled as `b`. The last column is `class` which tells you whether Player X (who always moves first in Tic Tac Toe) wins in this configuration. Note that when `class` has the value `False`, it means either Player O wins the game or it ends up as a draw.

Follow the steps suggested below to conduct a neural network analysis using Tensorflow and Keras. You will build a deep learning model to predict whether Player X wins the game or not.

## Step 1: Data Engineering

This dataset is almost in the ready-to-use state so you do not need to worry about missing values and so on. Still, some simple data engineering is needed.

1. Read `tic-tac-toe.csv` into a dataframe.
1. Inspect the dataset. Determine if the dataset is reliable by eyeballing the data.
1. Convert the categorical values to numeric in all columns.
1. Separate the inputs and output.
1. Normalize the input data.

In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

# Keras specific
import keras
from keras.models import Sequential
from keras.layers import Dense
from tensorflow.keras.utils import to_categorical

# Import necessary modules
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from math import sqrt
import io

In [2]:
from google.colab import files
uploaded = files.upload()

Saving tic-tac-toe.csv to tic-tac-toe (3).csv

In [3]:
# your code here
data = pd.read_csv(io.BytesIO(uploaded['tic-tac-toe.csv']))

In [4]:
data.head()

  TL TM TR ML MM MR BL BM BR  class
0  x  x  x  x  o  o  x  o  o   True
1  x  x  x  x  o  o  o  x  o   True
2  x  x  x  x  o  o  o  o  x   True
3  x  x  x  x  o  o  o  b  b   True
4  x  x  x  x  o  o  b  o  b   True

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 958 entries, 0 to 957
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   TL      958 non-null    object
 1   TM      958 non-null    object
 2   TR      958 non-null    object
 3   ML      958 non-null    object
 4   MM      958 non-null    object
 5   MR      958 non-null    object
 6   BL      958 non-null    object
 7   BM      958 non-null    object
 8   BR      958 non-null    object
 9   class   958 non-null    bool
dtypes: bool(1), object(9)
memory usage: 68.4+ KB

In [6]:
data.isna().sum()

TL       0
TM       0
TR       0
ML       0
MM       0
MR       0
BL       0
BM       0
BR       0
class    0
dtype: int64

In [7]:
#Codifing the data
for col in data.columns:
    data[col]= data[col].replace('x', 1)
    data[col]= data[col].replace('o', -1)
    data[col]= data[col].replace('b', 0)

In [8]:
data.head()

   TL  TM  TR  ML  MM  MR  BL  BM  BR  class
0   1   1   1   1  -1  -1   1  -1  -1   True
1   1   1   1   1  -1  -1  -1   1  -1   True
2   1   1   1   1  -1  -1  -1  -1   1   True
3   1   1   1   1  -1  -1  -1   0   0   True
4   1   1   1   1  -1  -1   0  -1   0   True

In [9]:
data['class'] = np.where(data['class'] == True, 1,0)

In [10]:
data.head()

   TL  TM  TR  ML  MM  MR  BL  BM  BR  class
0   1   1   1   1  -1  -1   1  -1  -1      1
1   1   1   1   1  -1  -1  -1   1  -1      1
2   1   1   1   1  -1  -1  -1  -1   1      1
3   1   1   1   1  -1  -1  -1   0   0      1
4   1   1   1   1  -1  -1   0  -1   0      1

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 958 entries, 0 to 957
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   TL      958 non-null    int64
 1   TM      958 non-null    int64
 2   TR      958 non-null    int64
 3   ML      958 non-null    int64
 4   MM      958 non-null    int64
 5   MR      958 non-null    int64
 6   BL      958 non-null    int64
 7   BM      958 non-null    int64
 8   BR      958 non-null    int64
 9   class   958 non-null    int64
dtypes: int64(10)
memory usage: 75.0 KB

In [12]:
data['class'].value_counts()

1    626
0    332
Name: class, dtype: int64

In [13]:
#Prepare run and test data
X= data.drop(columns='class')
y= data['class']

In [14]:
#Scaler the data
from sklearn.preprocessing import normalize
X_scaled = normalize(X)

## Step 2: Build Neural Network

To build the neural network, you can refer to your own codes you wrote while following the [Deep Learning with Python, TensorFlow, and Keras tutorial](https://www.youtube.com/watch?v=wQ8BIBpya2k) in the lesson. It's pretty similar to what you will be doing in this lab.

1. Split the training and test data.
1. Create a `Sequential` model.
1. Add several layers to your model. Make sure you use ReLU as the activation function for the middle layers. Use Softmax for the output layer because each output has a single lable and all the label probabilities add up to 1.
1. Compile the model using `adam` as the optimizer and `sparse_categorical_crossentropy` as the loss function. For metrics, use `accuracy` for now.
1. Fit the training data.
1. Evaluate your neural network model with the test data.
1. Save your model as `tic-tac-toe.model`.

In [15]:
# your code here
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.20, random_state=42)
print(X_train.shape); print(X_test.shape)

(766, 9)
(192, 9)

In [16]:
model = Sequential()

model.add(Dense(500, activation='relu', input_dim=9))
model.add(Dense(100, activation='relu'))
model.add(Dense(50, activation='relu'))
model.add(Dense(2, activation='softmax'))

# compile model
model.compile(optimizer='adam', 
              loss='sparse_categorical_crossentropy', 
              metrics=['accuracy'])

In [17]:
model.fit(X_train, y_train, epochs=30)

Epoch 1/30
24/24 [==============================] - 2s 8ms/step - loss: 0.6143 - accuracy: 0.6684
Epoch 2/30
24/24 [==============================] - 0s 8ms/step - loss: 0.5075 - accuracy: 0.7676
Epoch 3/30
24/24 [==============================] - 0s 7ms/step - loss: 0.3785 - accuracy: 0.8499
Epoch 4/30
24/24 [==============================] - 0s 6ms/step - loss: 0.2112 - accuracy: 0.9569
Epoch 5/30
24/24 [==============================] - 0s 5ms/step - loss: 0.0809 - accuracy: 0.9883
Epoch 6/30
24/24 [==============================] - 0s 7ms/step - loss: 0.0381 - accuracy: 0.9883
Epoch 7/30
24/24 [==============================] - 0s 8ms/step - loss: 0.0146 - accuracy: 1.0000
Epoch 8/30
24/24 [==============================] - 0s 8ms/step - loss: 0.0081 - accuracy: 1.0000
Epoch 9/30
24/24 [==============================] - 0s 6ms/step - loss: 0.0047 - accuracy: 1.0000
Epoch 10/30
24/24 [==============================] - 0s 6ms/step - loss: 0.0028 - accuracy: 1.0000
Epoch 11/30
24/24 [==============================] - 0s 4ms/step - loss: 0.0020 - accuracy: 1.0000
Epoch 12/30
24/24 [==============================] - 0s 6ms/step - loss: 0.0015 - accuracy: 1.0000
Epoch 13/30
24/24 [==============================] - 0s 6ms/step - loss: 0.0012 - accuracy: 1.0000
Epoch 14/30
24/24 [==============================] - 0s 7ms/step - loss: 0.0010 - accuracy: 1.0000
Epoch 15/30
24/24 [==============================] - 0s 6ms/step - loss: 8.5711e-04 - accuracy: 1.0000
Epoch 16/30
24/24 [==============================] - 0s 6ms/step - loss: 7.2382e-04 - accuracy: 1.0000
Epoch 17/30
24/24 [==============================] - 0s 5ms/step - loss: 6.3798e-04 - accuracy: 1.0000
Epoch 18/30
24/24 [==============================] - 0s 6ms/step - loss: 5.4595e-04 - accuracy: 1.0000
Epoch 19/30
24/24 [==============================] - 0s 7ms/step - loss: 4.9099e-04 - accuracy: 1.0000
Epoch 20/30
24/24 [==============================] - 0s 8ms/step - loss: 4.2753e-04 - accuracy: 1.0000
Epoch 21/30
24/24 [==============================] - 0s 5ms/step - loss: 3.7905e-04 - accuracy: 1.0000
Epoch 22/30
24/24 [==============================] - 0s 5ms/step - loss: 3.4899e-04 - accuracy: 1.0000
Epoch 23/30
24/24 [==============================] - 0s 6ms/step - loss: 3.0704e-04 - accuracy: 1.0000
Epoch 24/30
24/24 [==============================] - 0s 5ms/step - loss: 2.7727e-04 - accuracy: 1.0000
Epoch 25/30
24/24 [==============================] - 0s 4ms/step - loss: 2.5226e-04 - accuracy: 1.0000
Epoch 26/30
24/24 [==============================] - 0s 7ms/step - loss: 2.3005e-04 - accuracy: 1.0000
Epoch 27/30
24/24 [==============================] - 0s 6ms/step - loss: 2.0915e-04 - accuracy: 1.0000
Epoch 28/30
24/24 [==============================] - 0s 6ms/step - loss: 1.9302e-04 - accuracy: 1.0000
Epoch 29/30
24/24 [==============================] - 0s 6ms/step - loss: 1.7935e-04 - accuracy: 1.0000
Epoch 30/30
24/24 [==============================] - 0s 6ms/step - loss: 1.6675e-04 - accuracy: 1.0000

In [18]:
#Saving the model 
model.save('tic-tac-toe.model')

INFO:tensorflow:Assets written to: tic-tac-toe.model/assets

## Step 3: Make Predictions

Now load your saved model and use it to make predictions on a few random rows in the test dataset. Check if the predictions are correct.

In [19]:
# your code here
pred_train= model.predict(X_train)
scores = model.evaluate(X_train, y_train, verbose=0)
print('Accuracy on training data: {}% \n Error on training data: {}'.format(scores[1], 1 - scores[1]))   
 
pred_test= model.predict(X_test)
scores2 = model.evaluate(X_test, y_test, verbose=0)
print('Accuracy on test data: {}% \n Error on test data: {},\n Loss: {}'.format(scores2[1], 1 - scores2[1], scores2[0]))

Accuracy on training data: 1.0%
 Error on training data: 0.0
Accuracy on test data: 0.984375%
 Error on test data: 0.015625,
 Loss: 0.028728649020195007

In [20]:
#Predit the five first rows with the model
keras.models.load_model('tic-tac-toe.model')
predictions = model.predict(X_test[:5])

In [21]:
#Check if the predictions are correct
print(np.argmax(predictions, axis = 1))
print(y_test[:5])

[0 1 1 0 0]
836    0
477    1
350    1
891    0
855    0
Name: class, dtype: int64

## Step 4: Improve Your Model

Did your model achieve low loss (<0.1) and high accuracy (>0.95)? If not, try to improve your model.

But how? There are so many things you can play with in Tensorflow and in the next challenge you'll learn about these things. But in this challenge, let's just do a few things to see if they will help.

* Add more layers to your model. If the data are complex you need more layers. But don't use more layers than you need. If adding more layers does not improve the model performance you don't need additional layers.
* Adjust the learning rate when you compile the model. This means you will create a custom `tf.keras.optimizers.Adam` instance where you specify the learning rate you want. Then pass the instance to `model.compile` as the optimizer.
    * `tf.keras.optimizers.Adam` [reference](https://www.tensorflow.org/api_docs/python/tf/keras/optimizers/Adam).
    * Don't worry if you don't understand what the learning rate does. You'll learn about it in the next challenge.
* Adjust the number of epochs when you fit the training data to the model. Your model performance continues to improve as you train more epochs. But eventually it will reach the ceiling and the performance will stay the same.

In [22]:
# your code here
model = Sequential()

model.add(Dense(500, activation='relu', input_dim=9))
model.add(Dense(300, activation='relu'))
model.add(Dense(200, activation='relu'))
model.add(Dense(100, activation='relu'))
model.add(Dense(50, activation='relu'))
model.add(Dense(2, activation='softmax'))

# compile model
model.compile(optimizer='adam', 
              loss='sparse_categorical_crossentropy', 
              metrics=['accuracy'])

In [23]:
model.fit(X_train, y_train, epochs=30)
pred_train= model.predict(X_train)
scores = model.evaluate(X_train, y_train, verbose=0)
print('Accuracy on training data: {}% \n Error on training data: {}'.format(scores[1], 1 - scores[1]))   
 
pred_test= model.predict(X_test)
scores2 = model.evaluate(X_test, y_test, verbose=0)
print('Accuracy on test data: {}% \n Error on test data: {},\n Loss: {}'.format(scores2[1], 1 - scores2[1], scores2[0]))

Epoch 1/30
24/24 [==============================] - 1s 9ms/step - loss: 0.5856 - accuracy: 0.7063
Epoch 2/30
24/24 [==============================] - 0s 8ms/step - loss: 0.3707 - accuracy: 0.8525
Epoch 3/30
24/24 [==============================] - 0s 7ms/step - loss: 0.0824 - accuracy: 0.9856
Epoch 4/30
24/24 [==============================] - 0s 11ms/step - loss: 0.0206 - accuracy: 0.9961
Epoch 5/30
24/24 [==============================] - 0s 10ms/step - loss: 0.0309 - accuracy: 0.9843
Epoch 6/30
24/24 [==============================] - 0s 9ms/step - loss: 0.0193 - accuracy: 0.9948
Epoch 7/30
24/24 [==============================] - 0s 9ms/step - loss: 0.0136 - accuracy: 0.9961
Epoch 8/30
24/24 [==============================] - 0s 9ms/step - loss: 0.0022 - accuracy: 1.0000
Epoch 9/30
24/24 [==============================] - 0s 12ms/step - loss: 5.3306e-04 - accuracy: 1.0000
Epoch 10/30
24/24 [==============================] - 0s 11ms/step - loss: 2.8001e-04 - accuracy: 1.0000
Epoch 11/30
24/24 [==============================] - 0s 10ms/step - loss: 1.8264e-04 - accuracy: 1.0000
Epoch 12/30
24/24 [==============================] - 0s 10ms/step - loss: 1.1914e-04 - accuracy: 1.0000
Epoch 13/30
24/24 [==============================] - 0s 9ms/step - loss: 8.0679e-05 - accuracy: 1.0000
Epoch 14/30
24/24 [==============================] - 0s 10ms/step - loss: 5.8942e-05 - accuracy: 1.0000
Epoch 15/30
24/24 [==============================] - 0s 8ms/step - loss: 4.3755e-05 - accuracy: 1.0000
Epoch 16/30
24/24 [==============================] - 0s 5ms/step - loss: 3.4674e-05 - accuracy: 1.0000
Epoch 17/30
24/24 [==============================] - 0s 6ms/step - loss: 2.7875e-05 - accuracy: 1.0000
Epoch 18/30
24/24 [==============================] - 0s 6ms/step - loss: 2.2523e-05 - accuracy: 1.0000
Epoch 19/30
24/24 [==============================] - 0s 6ms/step - loss: 1.8700e-05 - accuracy: 1.0000
Epoch 20/30
24/24 [==============================] - 0s 6ms/step - loss: 1.5142e-05 - accuracy: 1.0000
Epoch 21/30
24/24 [==============================] - 0s 6ms/step - loss: 1.2460e-05 - accuracy: 1.0000
Epoch 22/30
24/24 [==============================] - 0s 6ms/step - loss: 1.0401e-05 - accuracy: 1.0000
Epoch 23/30
24/24 [==============================] - 0s 6ms/step - loss: 8.7540e-06 - accuracy: 1.0000
Epoch 24/30
24/24 [==============================] - 0s 6ms/step - loss: 7.4682e-06 - accuracy: 1.0000
Epoch 25/30
24/24 [==============================] - 0s 5ms/step - loss: 6.3175e-06 - accuracy: 1.0000
Epoch 26/30
24/24 [==============================] - 0s 6ms/step - loss: 5.4484e-06 - accuracy: 1.0000
Epoch 27/30
24/24 [==============================] - 0s 6ms/step - loss: 4.7663e-06 - accuracy: 1.0000
Epoch 28/30
24/24 [==============================] - 0s 6ms/step - loss: 4.1479e-06 - accuracy: 1.0000
Epoch 29/30
24/24 [==============================] - 0s 6ms/step - loss: 3.6750e-06 - accuracy: 1.0000
Epoch 30/30
24/24 [==============================] - 0s 6ms/step - loss: 3.2449e-06 - accuracy: 1.0000
Accuracy on training data: 1.0%
 Error on training data: 0.0
Accuracy on test data: 0.9895833134651184%
 Error on test data: 0.010416686534881592,
 Loss: 0.021271271631121635

In [24]:
#Try with diferent parameters

import tensorflow as tf

learning_rate=0.01


model = Sequential()
model.add(Dense(180, activation='relu', input_dim=9))
model.add(Dense(180, activation='relu'))
model.add(Dense(140, activation='relu'))
model.add(Dense(100, activation='relu'))
model.add(Dense(2, activation='softmax'))

# compile model
model.compile(optimizer=tf.keras.optimizers.Adam(
    learning_rate=0.001, beta_1=0.9, beta_2=0.999, epsilon=1e-07, amsgrad=False,
    name='Adam',), 
              loss='sparse_categorical_crossentropy', 
              metrics=['accuracy'])

model.fit(X_train, y_train, epochs=15)
pred_train= model.predict(X_train)
scores = model.evaluate(X_train, y_train, verbose=0)
print('Accuracy on training data: {}% \n Error on training data: {}'.format(scores[1], 1 - scores[1]))   
 
pred_test= model.predict(X_test)
scores2 = model.evaluate(X_test, y_test, verbose=0)
print('Accuracy on test data: {}% \n Error on test data: {},\n Loss: {}'.format(scores2[1], 1 - scores2[1], scores2[0]))

Epoch 1/15
24/24 [==============================] - 1s 4ms/step - loss: 0.6182 - accuracy: 0.6397
Epoch 2/15
24/24 [==============================] - 0s 4ms/step - loss: 0.4539 - accuracy: 0.8055
Epoch 3/15
24/24 [==============================] - 0s 4ms/step - loss: 0.2058 - accuracy: 0.9399
Epoch 4/15
24/24 [==============================] - 0s 3ms/step - loss: 0.0393 - accuracy: 0.9922
Epoch 5/15
24/24 [==============================] - 0s 3ms/step - loss: 0.0170 - accuracy: 0.9948
Epoch 6/15
24/24 [==============================] - 0s 3ms/step - loss: 0.0096 - accuracy: 0.9961
Epoch 7/15
24/24 [==============================] - 0s 3ms/step - loss: 0.0031 - accuracy: 1.0000
Epoch 8/15
24/24 [==============================] - 0s 3ms/step - loss: 7.8910e-04 - accuracy: 1.0000
Epoch 9/15
24/24 [==============================] - 0s 3ms/step - loss: 5.4126e-04 - accuracy: 1.0000
Epoch 10/15
24/24 [==============================] - 0s 4ms/step - loss: 3.9926e-04 - accuracy: 1.0000
Epoch 11/15
24/24 [==============================] - 0s 4ms/step - loss: 3.2840e-04 - accuracy: 1.0000
Epoch 12/15
24/24 [==============================] - 0s 4ms/step - loss: 2.8014e-04 - accuracy: 1.0000
Epoch 13/15
24/24 [==============================] - 0s 4ms/step - loss: 2.4097e-04 - accuracy: 1.0000
Epoch 14/15
24/24 [==============================] - 0s 4ms/step - loss: 2.0973e-04 - accuracy: 1.0000
Epoch 15/15
24/24 [==============================] - 0s 4ms/step - loss: 1.8495e-04 - accuracy: 1.0000
Accuracy on training data: 1.0%
 Error on training data: 0.0
Accuracy on test data: 0.9947916865348816%
 Error on test data: 0.005208313465118408,
 Loss: 0.014638442546129227

**Which approach(es) did you find helpful to improve your model performance?**

In [25]:
# your answer here
#Changing the parameters without knowing the direction is a little tricky. 
#The bieggest influence on the parameters I think had the number of layers and the layers size. 
#The number of epoch also needs to be adjusted but after a certain number it doesn't influence the final result. 
#I think that the lowest influence had learning rate.