# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import pandas as pd
import numpy as np

from numpy import random
import math
import scipy.stats as stats
import statistics

import matplotlib.pyplot as plt
import seaborn as sns

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv(r'/Users/edgartome_1/IronHack/IronLabs/Module2/Lab9/pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Your code here:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [4]:
# Your code here:

pokemon['Legendary'].value_counts()

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [5]:
# Your code here:
legendary=pokemon[(pokemon['Legendary']==True)]

notlegendary=pokemon[(pokemon['Legendary']==False)]

print(legendary['Total'].mean()," Mean legendary")

print(notlegendary['Total'].mean()," Mean not legendary")

print(np.std(legendary['Total'])," std legendary")

print(np.std(notlegendary['Total'])," std not legendary")

#Another code
"""
leg_mean = legendary['Total'].mean()
leg_std = legendary['Total'].std()

nonleg_mean = notlegendary['Total'].mean()
nonleg_std = notlegendary['Total'].std()

print('Legendary pokemons:')
print('mean',  leg_mean)
print('std', leg_std)

print('Nonlegendary pokemons:')
print('mean ',  nonleg_mean)
print('std ',  nonleg_std)
"""

637.3846153846154  Mean legendary
417.21360544217686  Mean not legendary
60.46682302213781  std legendary
106.68776660321996  std not legendary

"\nleg_mean = legendary['Total'].mean()\nleg_std = legendary['Total'].std()\n\nnonleg_mean = notlegendary['Total'].mean()\nnonleg_std = notlegendary['Total'].std()\n\nprint('Legendary pokemons:')\nprint('mean',  leg_mean)\nprint('std', leg_std)\n\nprint('Nonlegendary pokemons:')\nprint('mean ',  nonleg_mean)\nprint('std ',  nonleg_std)\n"

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [6]:
# Your code here:

from scipy.stats import ttest_ind

r1 = ttest_ind(legendary.Total, notlegendary.Total, equal_var=False).pvalue
r1
#Another code
#stats.ttest_ind(legendary['Total'], notlegendary['Total'],equal_var=False)

9.357954335957446e-47

What do you conclude from this test? Write your conclusions below.

In [7]:
# Your conclusions here:
def lazy2(i):
        if i < 0.05:
             print(':hypothesis is rejected: the difference is significant')
        elif i >= 0.05 and i<=0.1:
             print(':hypothesis rejected: but not highly confident')
        else:
             print(':hypothesis not rejected')
lazy2(r1)

:hypothesis is rejected: the difference is significant

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [8]:
# Your code here:
pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [9]:
# Your code here:
waterpokemon = pokemon[pokemon['Type 1']=='Water']

otherpokemon = pokemon[pokemon['Type 1']!='Water']

#print(len(waterpokemon))
#print(len(otherpokemon))


water_mean = waterpokemon['Total'].mean()
water_std = waterpokemon['Total'].std()

other_mean = otherpokemon['Total'].mean()
other_std = otherpokemon['Total'].std()

print('Water pokemons:')
print('mean',  water_mean)
print('std', water_std)

print('Other pokemons:')
print('mean ',  other_mean)
print('std ',  other_std)

Water pokemons:
mean 430.45535714285717
std 113.18826606431458
Other pokemons:
mean  435.85901162790697
std  121.09168230208066

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [10]:
# Your code here:
r2 = ttest_ind(waterpokemon['Total'], otherpokemon['Total'], equal_var=True).pvalue

r2

0.6587140317488793

Write your conclusion below.

In [11]:
# Your conclusions here:

lazy2(r2)

:hypothesis not rejected

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [12]:
# Your code here:
from scipy.stats import ttest_rel

r3 = ttest_rel(pokemon['Attack'], pokemon['Defense']).pvalue

Describe the results of the test in the cell below.

In [13]:
# Your conclusions here:

lazy2(r3)

:hypothesis is rejected: the difference is significant

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [14]:
# Your code here:

r4 = ttest_rel(pokemon['Sp. Atk'], pokemon['Sp. Def']).pvalue

Describe the results of the test in the cell below.

In [15]:
# Your conclusions here:

lazy2(r4)

:hypothesis not rejected

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [16]:
# Your code here:
    
from scipy.stats import ttest_1samp

r5 = ttest_1samp(pokemon['Attack'] - pokemon['Defense'], 0).pvalue

print(r5)

lazy2(r5)

1.7140303479358558e-05
:hypothesis is rejected: the difference is significant

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [17]:
# Your code here:

ctab = pd.crosstab(pokemon['Legendary'], pokemon['Type 1'])
ctab

Type 1,Bug,Dark,Dragon,Electric,Fairy,Fighting,Fire,Flying,Ghost,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water
Legendary,,,,,,,,,,,,,,,,,,
False,69,29,20,40,16,27,47,2,30,67,28,22,96,28,43,40,23,108
True,0,2,12,4,1,0,5,2,2,3,4,2,2,0,14,4,4,4

In [18]:
pokemon['water']=np.where(pokemon['Type 1']== 'Water', 1, 0)

ctab2 = pd.crosstab(pokemon.Legendary, pokemon.water)
ctab2

water        0    1
Legendary
False      627  108
True        61    4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.chi2_contingency.html).

In [19]:
# https://machinelearningmastery.com/chi-squared-test-for-machine-learning/
# Your code here:

from scipy.stats import chi2_contingency
from scipy.stats import chi2


stat, p, dof, expected = chi2_contingency(ctab2)

print('dof=%d' % dof)
print(expected)


# interpret test-statistic
prob = 0.95

critical = chi2.ppf(prob, dof)

print('probability=%.3f, critical=%.3f, stat=%.3f' % (prob, critical, stat))

if abs(stat) >= critical:
    print('Dependent (reject H0)')
else:
    print('Independent (fail to reject H0)')

# interpret p-value

alpha = 1.0 - prob

print('significance=%.3f, p=%.3f' % (alpha, p))

if p <= alpha:
    print('Dependent (reject H0)')
else:
    print('Independent (fail to reject H0)')

dof=1
[[632.1 102.9]
 [ 55.9   9.1]]
probability=0.950, critical=3.841, stat=2.943
Independent (fail to reject H0)
significance=0.050, p=0.086
Independent (fail to reject H0)

Based on a 95% confidence, should we reject the null hypothesis?

In [20]:
# Your answer here:

#CantÂ´t be rejected H0 hipotesis